In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Import Selenium webdriver

from selenium import webdriver

# import required Exception 
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests

from selenium.webdriver.common.by import By

In [ ]:
Q-7

In [70]:
driver= webdriver.Chrome()
driver.get("https://www.forbes.com")

In [71]:
rank=[]
name=[]
net_worth=[]
Inds=[]

In [72]:
title_rank=driver.find_elements(By.XPATH,'//div[@class="Table_rank__X4MKf"]/div')
for i in title_rank:
    title=i.text
    rank.append(title)
    
    
    
    
    
title_name=driver.find_elements(By.XPATH,'//div[@class="Table_personName__Bus2E"]')
for i in title_name:
    title1=i.text
    name.append(title1)
    
    
    
title_Nworth=driver.find_elements(By.XPATH,'//div[@class="Table_finalWorth__UZA6k"]')
for i in title_Nworth:
    title2=i.text
    net_worth.append(title2)
        
    
    
title_indust=driver.find_elements(By.XPATH,'//div[@role="cell"][4]')
for i in title_indust:
    title3=i.text
    Inds.append(title3)

In [73]:
print(len(rank),len(name),len(net_worth),len(Inds))

200 200 200 200

In [75]:
import pandas as pd
df=pd.DataFrame({'RANK':rank,'NAME':name,'NET_WORTH':net_worth ,'INDUSTRIES':Inds})
df

     RANK                             NAME NET_WORTH             INDUSTRIES
0      1.         Bernard Arnault & family    $233 B       Fashion & Retail
1      2.                        Elon Musk    $195 B             Automotive
2      3.                       Jeff Bezos    $194 B             Technology
3      4.                  Mark Zuckerberg    $177 B             Technology
4      5.                    Larry Ellison    $141 B             Technology
..    ...                              ...       ...                    ...
195  195.                          Lei Jun   $10.9 B             Technology
196  195.                 Georg Schaeffler   $10.9 B             Automotive
197  195.  Marcel Herrmann Telles & family   $10.9 B        Food & Beverage
198  199.             David Velez & family   $10.8 B  Finance & Investments
199  200.        Suleiman Kerimov & family   $10.7 B  Finance & Investments

[200 rows x 4 columns]

In [78]:
df.head(10)

  RANK                      NAME NET_WORTH             INDUSTRIES
0   1.  Bernard Arnault & family    $233 B       Fashion & Retail
1   2.                 Elon Musk    $195 B             Automotive
2   3.                Jeff Bezos    $194 B             Technology
3   4.           Mark Zuckerberg    $177 B             Technology
4   5.             Larry Ellison    $141 B             Technology
5   6.            Warren Buffett    $133 B  Finance & Investments
6   7.                Bill Gates    $128 B             Technology
7   8.             Steve Ballmer    $121 B             Technology
8   9.             Mukesh Ambani    $116 B            Diversified
9  10.                Larry Page    $114 B             Technology

In [79]:
driver.close()

In [ ]:
for url in item_url:
    drivre.get(url)
    time.sleep(3)
    
    try:
        brand=driver.find_element(By.XPATH,'')
        Brand.append(brand.text)
    except NoSuchElementException:
        Brand.append('-')
        
    try:
        replacement=driver.find_element(By.XPATH,'')

In [32]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [36]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Import Selenium webdriver

from selenium import webdriver

# import required Exception 
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import requests

from selenium.webdriver.common.by import By

In [64]:
 # Q 6

driver= webdriver.Chrome()
driver.get("https://www.digit.in/")

In [66]:
#item1= driver.find_element(By.XPATH,'///div[@class="search head_search position-relative"]')
#item1.send_keys('AI (Artificial intellgence Gaming Laptop in India)')
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/div/div/div/button/i')
search.click()
#time.sleep(3)

In [68]:
item1= driver.find_element(By.XPATH,'/html/body/div[5]/div/form/input[1]')
item1.send_keys('Best AI (Artificial Intelligence) Gaming Laptops in India')
search=driver.find_element(By.XPATH,'/html/body/div[5]/div/form/button/i')
search.click()
time.sleep(2)

In [69]:
driver.close()

In [ ]:
Q-1

In [4]:
driver= webdriver.Chrome()
driver.get("https://www.amazon.com/")

In [5]:
item1= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

item1.send_keys('guitars')
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()
time.sleep(3)